body h1{
    background-color: lightgray;
     padding: 20;
     font-size: larger;
     font-family: 'Times New Roman', Times, serif;
     font-stretch: expanded;
     text-align: center;
     

}
body{
    background-color:darkgray;
    border: floralwhite;
    font-size: medium;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    padding: 20;

}
body h2 {
    background-color:lightgray;
    font: outline;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    padding: 0ch;
    text-align: center;


}
img{
    display:block;
    margin-right: auto;
    margin-left: auto;
}
